// .disable {
//     display: none;
// }

.inputComponent__label {
    padding: 8px 0;
}

.message_error {
    color: red;
    font-size: 14px;
    margin: 0;
    height: 24px;
}

.addImage {
    color: #6ECB63;
    cursor: pointer;
    margin-bottom: 12px;
}

.iconStar {
    color: red;
}